---
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
	title="Portfolio of Eric - Innovative Developer in the Making"
	description="Discover the portfolio of Eric, an innovative developer specializing in Machine Learning and Cross-Platform Application Development. Explore projects, skills, and connect with Eric for potential opportunities."
>
	<main class="px-4">
		<SectionContainer id="top" class="py-24 pb-20">
			<img class="rounded size-12 mb-4" 
				src="/assets/icons/Logo.png"
				alt="Foto Logo" 
			/>
			<h1 class="text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm Eric 
				<a href="https://www.linkedin.com/in/eric-moya-carmona-011016251/" 
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Available for hire</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
				<span class="text-yellow-200">Final-year student in Cross-Platform Application Development, specializing in Machine Learning.</span> 
				Passionate about learning and building impactful solutions, 
				<span class="text-blue-300">I’m eager to start my professional journey!</span>
				<span class="text-red-300">Seville, Spain.</span>
			</h2>

			<ul class="flex gap-4 mt-8 flex-wrap">
				<li class="rounded-full shadow-lg border border-white border-opacity-30 p-2 bg-gray-800 hover:bg-gray-700 mx-2">
					<a href="https://www.linkedin.com/in/eric-moya-carmona-011016251/" class="flex items-center gap-2"> 
						<img src="/assets/icons/LinkedIn.svg" alt="Linkedin" class="size-4 md:size-6" />
						Linkedin	
					</a>
				</li>
				<li class="rounded-full shadow-lg border border-white border-opacity-30 p-2 bg-gray-800 hover:bg-gray-700 mx-2">
					<a href="https://github.com/ShadeCoder7" class="flex items-center gap-2"> 
						<img src="/assets/icons/GitHub.svg" alt="Github" class="size-4 md:size-6" />
						Github
					</a>
				</li>
				<li class="rounded-full shadow-lg border border-white border-opacity-30 p-2 bg-gray-800 hover:bg-gray-700 mx-2">
					<a href="mailto:ericmoyacarmona7@gmail.com" class="flex items-center gap-2"> 
						<img src="/assets/icons/Mail.svg" alt="Email" class="size-4 md:size-6" />
						Mail
					</a>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer id="Work-Experience" class="mb-20 mt-20">
			<h2 class="text-2xl font-semibold mb-7 flex items-center gap-3 mt-5">
				<img src="/assets/icons/Experience.svg" alt="Pick" class="size-7" />
				Work Experience
			</h2>
			
			<div class="bg-transparent text-white rounded-lg shadow-2xl p-8 mt-8 text-center border border-transparent">
				<h2 class="text-3xl text-yellow-200 opacity-80 font-bold mb-4">Coming Soon...</h2>
				<p class="text-xl opacity-60">Stay tuned for more updates!</p>
			</div>
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex items-center gap-3 mt-5">
				<img src="/assets/icons/Project.svg" alt="Pick" class="size-7" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="about" class="mt-20">
			<h2 class="text-2xl font-semibold mb-6 flex items-center gap-3 mt-5">
				<img src="/assets/icons/About.svg" alt="Pick" class="size-7" />
				About
			</h2>
			<About />
		</SectionContainer>

		<SectionContainer id="contact" class="mt-20">
			<h2 class="text-2xl font-semibold mb-6 flex items-center gap-3 mt-5">
				<img src="/assets/icons/Contact.svg" alt="Pick" class="size-7" />
				Contact
			</h2>
			<Contact />
		</SectionContainer>

		

	</main>
</Layout>
