---
const softSkills = ["Communication", "Teamwork", "Adaptability", "Problem Solving", "Creativity"];
const hardSkills = [
    { name: "Java", icon: "/assets/icons/Java.svg" },
    { name: "SQL", icon: "/assets/icons/MySQL.svg" },
    { name: "Astro", icon: "/assets/icons/Astro.svg" },
    { name: "TailwindCSS", icon: "/assets/icons/TailwindCSS.svg" },
    { name: "Python", icon: "/assets/icons/Python.svg" },
    { name: "JavaScript", icon: "/assets/icons/JavaScript.svg" },
    { name: "Django", icon: "/assets/icons/Django.svg" },
    { name: "React", icon: "/assets/icons/React.svg" }
];
---

<section class="text-xl">
    <p class="mb-10">
        Hello, I'm <strong class="text-blue-200">Eric</strong>. I am a passionate <strong class="text-blue-200">student</strong> with experience in creating <strong class="text-blue-200">modern</strong> and <strong class="text-blue-200">efficient</strong> web applications. I love learning new <strong class="text-blue-200">technologies</strong> and continuously improving my skills through projects. Although I am currently studying officially, I also enjoy learning in a <strong class="text-blue-200">self-taught</strong> manner to complement my knowledge. In my free time, I enjoy working on personal programming projects, playing <strong class="text-blue-200">video games</strong>, and going to the <strong class="text-blue-200">cinema</strong>.
    </p>
    <p class="text-xl mb-6">
        Here is a summary of my <strong class="text-blue-200">soft</strong> and <strong class="text-blue-200">technical</strong> skills. These skills allow me to adapt and perform efficiently in various projects and work teams.
    </p>
    
    <div class="flex justify-between mt-10">
        <div class="w-1/2 pr-4">
            <h2 class="text-xl font-bold mb-3 text-yellow-300 border-b-2 border-blue-300 animate-pulse">Soft Skills</h2>
            <ul class="list-disc list-inside text-base space-y-2">
            {softSkills.map(skill => (
                <li class="flex items-center mb-2 p-2 border border-gray-800 bg-gray-800 rounded-full hover:bg-gray-700 transition duration-300 ease-in-out transform hover:rotate-3">
                <span class="text-white">{skill}</span>
                </li>
            ))}
            </ul>
        </div>
        
        <div class="w-1/2 pl-4">
            <h2 class="text-xl font-bold mb-3 text-yellow-300 border-b-2 border-blue-300 animate-pulse">Technical Skills</h2>
            <ul class="list-disc list-inside text-base space-y-2">
            {hardSkills.map(skill => (
                <li class="flex items-center mb-2 p-1 border border-gray-800 bg-gray-800 rounded-full hover:bg-gray-700 transition duration-300 ease-in-out transform hover:rotate-3">
                <img src={skill.icon} alt={skill.name} class="w-8 h-8 mr-2 rounded-full" />
                <span class="text-white">{skill.name}</span>
                </li>
            ))}
            </ul>
        </div>
    </div>
</section>
