---
const email = "ericmoyacarmona7@gmail.com";
---

<section id="contact" class="flex flex-col items-center mt-5 p-5 rounded-lg shadow-md">
    <button id="emailButton" class="bg-violet-600 text-white py-1 px-4 my-2 cursor-pointer rounded-full transition duration-300 ease-in-out hover:bg-violet-900">Send Email</button>
    <div class="email-container flex items-center px-5 py-2 rounded-full my-2 bg-gray-500" style="background-color: rgba(128, 128, 128, 0.5);">
        <p id="emailText" class="email-text m-0 text-base  mr-2 text-white">{email}</p>
        <button id="copyButton" class="bg-violet-600 text-white border border-white border-opacity-30 py-1 px-2 cursor-pointer rounded-full transition duration-300 ease-in-out hover:bg-violet-900"><span id="arrow">&larr;</span> Copy</button>
    </div>
</section>

<script>
    const email = "{email}";
    document.addEventListener('DOMContentLoaded', () => {
        const emailButton = document.getElementById('emailButton');
        const copyButton = document.getElementById('copyButton');
        const arrow = document.getElementById('arrow');

        if (emailButton) {
            emailButton.addEventListener('click', () => {
                window.location.href = `mailto:${email}`;
            });
        }

        if (copyButton) {
            copyButton.addEventListener('click', copyEmail);
        }
    });

    function copyEmail() {
        const emailText = document.getElementById('emailText');
        const copyButton = document.getElementById('copyButton');
        const arrow = document.getElementById('arrow');
        if (emailText && copyButton) {
            const emailContent = emailText.textContent || '';
            navigator.clipboard.writeText(emailContent).then(() => {
                copyButton.textContent = 'Copied!';
                copyButton.classList.add('bg-green-500');
                const tickMark = document.createElement('span');
                tickMark.innerHTML = ' ✔';
                tickMark.classList.add('ml-2');
                copyButton.appendChild(tickMark);
                setTimeout(() => {
                    copyButton.innerHTML = '<span id="arrow">&larr;</span> Copy';
                    copyButton.classList.remove('bg-green-500');
                }, 2000);
            });
        }
    }
</script>
