---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [

{
  title: "School Management System Development",
  date: "Current",
  description: "Designing and developing a comprehensive school management system, focusing on delivering user-friendly and efficient solutions.",
  technologies: [
    { icon: "/assets/icons/Figma.svg", name: "Figma" },
    { icon: "/assets/icons/MySQL.svg", name: "MySQL" },
    { icon: "/assets/icons/Django.svg", name: "Django" },
    { icon: "/assets/icons/Python.svg", name: "Python" },
    { icon: "/assets/icons/React.svg", name: "React" },
    { icon: "/assets/icons/JavaScript.svg", name: "JavaScript" },
    { icon: "/assets/icons/HTML.svg", name: "HTML" },
    { icon: "/assets/icons/CSS.svg", name: "CSS" }
  ],
  link: "#",
},
{
  title: "Culinary Social Network Development",
  date: "Current",
  description: "Creating a culinary-focused social network aimed at fostering a vibrant community for sharing recipes and culinary experiences.",
  technologies: [
    { icon: "/assets/icons/Java.svg", name: "Java" },
    { icon: "/assets/icons/MySQL.svg", name: "MySQL" },
    { icon: "/assets/icons/JavaScript.svg", name: "JavaScript" },
    { icon: "/assets/icons/HTML.svg", name: "HTML" },
    { icon: "/assets/icons/CSS.svg", name: "CSS" }
  ],
  link: "#",
},
{
  title: "Portfolio Web Development",
  date: "December 2024",
  description: "Designed and developed my personal portfolio website to showcase my skills, projects, and professional experience. Implemented an interactive layout and responsive design to ensure an optimal user experience.",
  
  technologies: [
    { icon: "/assets/icons/Astro.svg", name: "Astro" },
    { icon: "/assets/icons/HTML.svg", name: "HTML" },
    { icon: "/assets/icons/CSS.svg", name: "CSS" },
    { icon: "/assets/icons/TailwindCSS.svg", name: "TailwindCSS" }
  ],
  link: "#",
},
{
  title: "Credit Card Fraud Detection Project",
  date: "December 2024",
  description: "Developed an AI-based solution to detect credit card fraud. Worked on data cleaning, statistical analysis, visualization, and machine learning model training, achieving high accuracy in fraud detection.",
  technologies: [
    { icon: "/assets/icons/Python.svg", name: "Python" },
    { icon: "/assets/icons/Pandas.svg", name: "Pandas" },
    { icon: "/assets/icons/Numpy.svg", name: "Numpy" },
    { icon: "/assets/icons/Matplotlib.svg", name: "Matplotlib" },
    { icon: "/assets/icons/Seaborn.svg", name: "Seaborn" },
  ],
  link: "#",
}


]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
