<footer class="rounded-lg shadow m-4 dark:bg-gray-800" role="contentinfo" aria-label="Footer">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
    <span class="text-sm text-white dark:text-gray-400" aria-live="polite">© {new Date().getFullYear()}</span>
    <nav aria-label="Footer Navigation">
      <ul class="flex flex-wrap items-center text-sm font-medium text-white dark:text-gray-400">
        <li>
          <a href="#about" class="hover:underline me-4 md:me-6" aria-label="About section">About</a>
        </li>
        <li>
          <a href="#contact" class="hover:underline" aria-label="Contact section">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>