<header class="flex justify-center items-center py-7 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-20 opacity-70">
        <a href="#top" class="hover:text-blue-500 transition-colors">Home</a>
        <a href="#skills" class="hover:text-blue-500 transition-colors">Skills</a>
        <a href="#projects" class="hover:text-blue-500 transition-colors">Projects</a>
        <a href="#about" class="hover:text-blue-500 transition-colors">About</a>
        <a href="#contact" class="hover:text-blue-500 transition-colors">Contact</a>
    </nav>
</header>