<header class="flex justify-between">
    <img src="" alt="logo" />
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Projects</a>
        <a href="/contact">Contact</a>




    </nav>

</header>